[submodule "br/buildroot"]
	path = br/buildroot
	url = git://git.buildroot.net/buildroot
    branch = 2023.08-rc3
[submodule "yocto/sources/poky"]
	path = yocto/sources/poky
	url = https://github.com/yoctoproject/poky.git
    branch = mickledore
[submodule "yocto/sources/meta-raspberrypi"]
	path = yocto/sources/meta-raspberrypi
	url = https://github.com/agherzan/meta-raspberrypi.git
    branch = mickledore
