authorized_keys
moduli
ssh_host_ecdsa_key
ssh_host_ecdsa_key.pub
ssh_host_ed25519_key
ssh_host_ed25519_key.pub
ssh_host_rsa_key
ssh_host_rsa_key.pub

.buildroot-ccache
.subversion

.wget-hsts

.bash_history
.bashrc
.viminfo
.cache

cache
downloads
sstate-cache

poky
meta-raspberrypi

*.log
*-build
