Host github.com
  User git
  Hostname github.com
  PreferredAuthentications publickey
  IdentityFile /home/%USERNAME%/.ssh/github

Host rpi0w
  User root
  Hostname 192.168.50.101
  PreferredAuthentications publickey
  IdentityFile /home/%USERNAME%/.ssh/rpi0w
