# POKY_BBLAYERS_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
POKY_BBLAYERS_CONF_VERSION = "2"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
  ${RPI_ELINUX_ROOT}/yocto/sources/poky/meta \
  ${RPI_ELINUX_ROOT}/yocto/sources/poky/meta-poky \
  ${RPI_ELINUX_ROOT}/yocto/sources/poky/meta-yocto-bsp \
  ${RPI_ELINUX_ROOT}/yocto/sources/meta-raspberrypi \
  ${RPI_ELINUX_ROOT}/yocto/sources/meta-raspberrypi-custom \
  "
